---
layout: default
title: My Blog
group: blog
submenu: true
---
<div class="blog">
<div class="posts">

    {% for post in paginator.posts %}
    <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
    <p class="author">
        <span class="date">{{ post.date | date: "%Y-%m-%d %H:%M"}}</span>
    </p>
    <div class="content">
        {{ post.content }}
    </div>
    <hr>
    {% endfor %}
</div>

{% assign previous = false %}
{% assign next = true %}
<!-- Pagination links -->


<div class="pagination">
    <!--
    {% if paginator.previous_page %}
    {% assign previous = true %}
    {% endif %}

    {% if paginator.next_page %}
    {% assign next = false %}

    {% endif %}

    
    <button id="btFirst" {{ previous }}>First</button>
    <button id="btPrevious" {{ previous }}>Previous</button>
    -->
    <img id="btFirst" {% if paginator.previous_page %} class="pages-buttons" {% else %} class="pages-buttons-disabled" {% endif %} src="/assets/images/reverse.png">
    <img id="btPrevious" {% if paginator.previous_page %} class="pages-buttons" {% else %} class="pages-buttons-disabled" {% endif %} src="/assets/images/back.png" {{ previous }}>
    <span class="page_number ">
        Page: {{ paginator.page }} of {{ paginator.total_pages }}
    </span>
    <!--
        <button id="btNext" {{ next }}>Next</button>
        <button id="btLast" {{ next }}>Last</button>
    -->
    <img id="btNext" {% if paginator.next_page %} class="pages-buttons" {% else %} class="pages-buttons-disabled" {% endif %} src="/assets/images/front.png" {{ next }}>
    <img id="btLast" {% if paginator.next_page %} class="pages-buttons" {% else %} class="pages-buttons-disabled" {% endif %} class="pages-buttons" src="/assets/images/forward.png" {{ next }}>

</div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        const botao = document.getElementById("btFirst");

        botao.addEventListener("click", function () {
            gotoPage("/blog");
        });

    });

    document.addEventListener("DOMContentLoaded", function () {
        const botao = document.getElementById("btPrevious");

        botao.addEventListener("click", function () {
            gotoPage("{{ paginator.previous_page_path }}");
        });

    });
    document.addEventListener("DOMContentLoaded", function () {
        const botao = document.getElementById("btNext");

        botao.addEventListener("click", function () {
            gotoPage("{{ paginator.next_page_path }}");
        });

    });
    document.addEventListener("DOMContentLoaded", function () {
        const botao = document.getElementById("btLast");

        botao.addEventListener("click", function () {
            gotoPage("/blog/page{{ paginator.total_pages }}/");
        });

    });

    function gotoPage(url) {
        window.open(url, "_self")
    }
</script>