---
layout: default
title: My Blog
group: blog
submenu: true
---
<button id="btReverse" >Reverse Order</button>
<div id="conteudo"></div>

<script>
    const urlParams = new URLSearchParams(window.location.search);
    const order = urlParams.get('order');
    document.addEventListener("DOMContentLoaded", function () {
            const botao = document.getElementById("btReverse");

            botao.addEventListener("click", function () {
                btReverseBlogOrder(order,`{{ page.url }}`);
            });
        });

    let conteudo = '';

    if (order === 'asc') {
        conteudo = `{% for post in paginator.posts %}
<h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
<p class="author">
    <span class="date">{{ post.date | date: "%Y-%m-%d %H:%M"}}</span>
</p>
<div class="content">
    {{ post.content }}
</div>
<hr>
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
        Previous
    </a>
    {% else %}
    <span class="previous">Previous</span>
    {% endif %}
    <span class="page_number ">
        Page: {{ paginator.page }} of {{ paginator.total_pages }}
    </span>
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
    {% else %}
    <span class="next ">Next</span>
    {% endif %}
</div>`;
    } else {

        conteudo = `{% for post in paginator.posts reversed %}
<h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
<p class="author">
    <span class="date">{{ post.date | date: "%Y-%m-%d %H:%M"}}</span>
</p>
<div class="content">
    {{ post.content }}
</div>
<hr>
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
        Previous
    </a>
    {% else %}
    <span class="previous">Previous</span>
    {% endif %}
    <span class="page_number ">
        Page: {{ paginator.page }} of {{ paginator.total_pages }}
    </span>
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
    {% else %}
    <span class="next ">Next</span>
    {% endif %}
</div>`;
    }

    document.getElementById('conteudo').innerHTML = conteudo; // Exibir o conteúdo
</script>
