---
layout: default
title: My Blog
group: blog
submenu: true
---
<div class="blog">
<div class="posts">

    {% for post in paginator.posts %}
    <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
    <p class="author">
        <span class="date">{{ post.date | date: "%Y-%m-%d %H:%M"}}</span>
    </p>
    <div class="content">
        {{ post.content }}
    </div>
    <hr>
    {% endfor %}
</div>

{% assign previous = "disabled" %}
{% assign next = "disabled" %}
<!-- Pagination links -->


<div class="pagination">
    {% if paginator.previous_page %}
    {% assign previous = "" %}
    {% endif %}

    {% if paginator.next_page %}
    {% assign next = "" %}

    {% endif %}
    <button id="btFirst" {{ previous }}>First</button>
    <button id="btPrevious" {{ previous }}>Previous</button>
    <span class="page_number ">
        Page: {{ paginator.page }} of {{ paginator.total_pages }}
    </span>
    <button id="btNext" {{ next }}>Next</button>
    <button id="btLast" {{ next }}>Last</button>
</div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        const botao = document.getElementById("btFirst");

        botao.addEventListener("click", function () {
            gotoPage("/blog");
        });

    });

    document.addEventListener("DOMContentLoaded", function () {
        const botao = document.getElementById("btPrevious");

        botao.addEventListener("click", function () {
            gotoPage("{{ paginator.previous_page_path }}");
        });

    });
    document.addEventListener("DOMContentLoaded", function () {
        const botao = document.getElementById("btNext");

        botao.addEventListener("click", function () {
            gotoPage("{{ paginator.next_page_path }}");
        });

    });
    document.addEventListener("DOMContentLoaded", function () {
        const botao = document.getElementById("btLast");

        botao.addEventListener("click", function () {
            gotoPage("/blog/page{{ paginator.total_pages }}/");
        });

    });

    function gotoPage(url) {
        window.open(url, "_self")
    }
</script>