<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>

    <div class="nav-bar">
        
        {% include navigation.html %}
        {% include translate.html %}

    </div>
    
    <div class="container">
        
        {% if page.submenu %}
        <div class="sidebar" id="sidebar">{% include navigation-vertical.html %}</div>
        <div class="main-content">
            {{ content }}
        </div>
        {% else %}
        <div class="main-content">
            {{ content }}
        </div>
        {% endif %}
            <!-- Cookie Consent Banner -->
            <div id="cookie-banner" style="display: none;">
                <p>We use cookies to improve your experience. Do you accept?</p>
                <button id="accept-cookies" onclick="cookieConsent()">Accept</button>
            </div>
    </div>
    
    <footer id="main-footer">

    </footer>

    <script src="/assets/js/scripts.js"></script>

</body>

</html>