<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
    <div>
        {% include navigation.html %}
    </div>
    
    <div class="container">
        
        {% if page.submenu %}
        <div class="sidebar">{% include navigation-vertical.html %}</div>
        <div class="main-content">
            {% include translate.html %}
            {{ content }}
        </div>
        {% else %}
        <div class="main-content">
            {% include translate.html %}
            {{ content }}
        </div>
        {% endif %}
    </div>

</body>

</html>