---
layout: default
---
<button id="btReturnList">Return to Posts list</button>
<button id="btReturnPosts">Return to Posts</button>
<script>
    const urlParams = new URLSearchParams(window.location.search);
    const order = urlParams.get('order');
    document.addEventListener("DOMContentLoaded", function () {
            const botao = document.getElementById("btReturnList");

            botao.addEventListener("click", function () {
                btReturn("/blog/list/?order=" + order);
            });
        });
        document.addEventListener("DOMContentLoaded", function () {
                const botao = document.getElementById("btReturnPosts");

                botao.addEventListener("click", function () {
                    btReturn("/blog/");
                });
            });
        function btReturn(url) {
            window.open(url,"_self")
        }
</script>
<div>

    <div>
    <h2>
        {{ page.title }}
    </h2>
    </div>
    <div>
        
        Published: {{ page.date | date: "%Y-%m-%d %H:%M:%S" }}
    </div>
</div>
<hr>

{{ content }}