---
layout: default
submenu: true
group: projects
---

{% assign item = nil %}
{% for it in site.data.projects %}
    {% if it.name == page.title %}
        {% assign item = it %}
        {% break %}
    {% endif %}
    {% endfor %}
    
<h1 translate="no"> {{ page.title }} </h1>
    {% if item.icon %}
        <img src={{item.icon}} width="100" style="margin:10px">
    {% endif %}
<div>
    <div class="wrap-link">
        GitHub repository: <a href="{{ item.github }}" target="_blank"> {{ item.github }}</a>
    </div>
    {{ content }}
</div>
{% if item.screenshots.size > 0 %}

<div>
    <h3>Screenshots</h3>
    {% assign num = item.screenshots.size | minus: 1 %}
    {% for i in (0..num) %}

    <p translate="no" align="center">{{ item.labels[i] }}</p>
    <a href="{{ item.screenshots[i] }}" class="screenshots-link" target="_blank">
    <div class="project-screenshots">
        <img src="{{ item.screenshots[i] }}" alt="Image can not be displayed or found!">
    </div>
</a>

    {% endfor %}
</div>

{% endif %}